<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<div th:fragment="header"></div>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-md-0">
            <a href="/" class="mt-2 d-inline-flex link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-heart-pulse" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5"/>
                    <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z"/>
                </svg>
                <h5 class="ml-2">PawMetrics</h5>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/pets}" class="nav-link px-2">Pets</a></li>
            <li><a th:href="@{/tests}" class="nav-link px-2">Medical tests</a></li>
<!--            <li><a th:href="@{/acccount}" class="nav-link px-2">Profile</a></li>-->
            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin}" class="nav-link px-2">Admin Page</a></li>
        </ul>

        <div sec:authorize="isAnonymous()" class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2" th:href="@{/account/login}" role="button">Login</a>
            <a class="btn btn-primary me-2" th:href="@{/account/registration}" role="button">Sign-up</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2" th:href="@{/account/logout}" role="button">Logout</a>
        </div>
    </header>
</div>
</body>