<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{header}"></div>
<div class="container justify-content-center align-items-center vh-100">

    <a class="col-12 btn btn-outline-secondary mb-3" data-bs-toggle="modal" role="button" data-bs-target="#addPetModal">
        Add new pet
    </a>
    <!-- Modal -->
    <div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3" id="staticBackdropLabel">New pet info</h1>
                </div>
                <div class="modal-body">
                    <form th:action="@{/pets/add}" th:object="${petDTO}" method="post">
                        <label for="petName" class="form-label my-1">Input pet name</label>
                        <input type="text" class="form-control my-1" th:field="*{name}" id="petName" placeholder="Fido">

                        <label for="petType" class="form-label my-1">Select pet type</label>
                        <select id="petType" name="petType" th:field="*{type}" class="col-12 form-select my-1">
                            <option disabled selected hidden style="display: none" value=""></option>
                            <option th:each="type: ${petTypes}"
                                    th:value="${type.getId()}"
                                    th:text="${type.getPetTypeName()}"
                                    th:data="${type}"></option>
                        </select>

                        <label for="breed" class="form-label my-1">Select pet breed</label>
                        <select id="breed" name="breed" th:field="*{breed}" class="col-12 form-select my-1">
                            <option disabled selected hidden style="display: none" value=""></option>
                            <option th:each="breed: ${breeds}"
                                    th:value="${breed.getBreedId()}"
                                    th:text="${breed.getBreedName()}"
                                    th:data="${breed}"></option>
                        </select>

                        <label for="petWeight" class="form-label my-1">Input pet weight</label>
                        <input type="number" step="0.01" class="form-control my-1" th:field="*{weight}" id="petWeight"
                               placeholder="10">

                        <label for="petAge" class="form-label my-1">Input pet age</label>
                        <input type="number" class="form-control my-1" th:field="*{age}" id="petAge" placeholder="7">

                        <label for="gender" class="form-label my-1">Select pet gender</label>
                        <select id="gender" name="gender" th:field="*{gender}" class="col-12 form-select my-1">
                            <option disabled selected hidden style="display: none" value=""></option>
                            <option th:each="gender: ${genders}"
                                    th:value="${gender.name()}"
                                    th:text="${gender.name().toLowerCase()}"
                                    th:data="${gender}"></option>
                        </select>

                        <label for="image" class="form-label my-1">Input photo url</label>
                        <input type="text" class="form-control my-1" th:field="*{image}" id="image" placeholder="url">

                        <button type="submit" class="col-12 btn btn-outline-secondary mb-3">Create new pet</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:each="currentPet : ${pets}" class="col-12 mb-3 p-4 rounded border border-secondary-subtle"
         style="border-radius: 35px">
        <div class="row mb-3">
            <div class="flex-column align-items-center justify-content-center">
                <img th:if="${currentPet.getImage() == null}"
                     src="https://img.freepik.com/free-vector/heart-with-paw-prints_78370-3260.jpg?semt=ais_hybrid&w=740"
                     class="rounded-circle"
                     alt="Pet photo" style="height: 25vh ">
                <img th:if="${currentPet.getImage() != null}" th:src="${currentPet.getImage()}"
                     class="rounded-circle"
                     alt="Pet photo" style="height: 25vh ">
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-row">
                        <div class="col-3" th:text="${currentPet.getType().getPetTypeName()}"></div>
                        <div class="col-9" th:text="${currentPet.getName()}"></div>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <div class="col-3" th:text="'Breed'"></div>
                        <div class="col-9" th:text="${currentPet.getBreed().getBreedName()}"></div>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <div class="col-3" th:text="'Gender'"></div>
                        <div class="col-9" th:text="${currentPet.getGender().toString().toLowerCase()}"></div>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <div class="col-3" th:text="'Age (years)'"></div>
                        <div class="col-9" th:text="${currentPet.getAge()}"></div>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <div class="col-3" th:text="'Weight (kg)'"></div>
                        <div class="col-9" th:text="${currentPet.getWeight()}"></div>
                    </li>
                </ul>
            </div>
        </div>
        <!--        <div class="col-3">-->
        <!--            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" role="button" data-bs-target="#editPetModal">-->
        <!--                Edit-->
        <!--            </button>-->
        <!--            &lt;!&ndash; Modal &ndash;&gt;-->
        <!--            <div class="modal fade" id="editPetModal" tabindex="-1" aria-labelledby="editPetLabel" aria-hidden="true">-->
        <!--                <div class="modal-dialog">-->
        <!--                    <div class="modal-content">-->
        <!--                        <div class="modal-header">-->
        <!--                            <h1 class="modal-title fs-3" id="editPetLabel">Edit pet</h1>-->
        <!--                        </div>-->
        <!--                        <div class="modal-body">-->
        <!--                            <form th:action="@{/pets/edit}" th:object="${petDTO}" method="post">-->
        <!--                                <label for="editPetName" class="form-label my-1">Input pet name</label>-->
        <!--                                <input type="text" class="form-control my-1" th:field="*{name}" id="editPetName" placeholder="Fido">-->

        <!--                                <label for="editPetType" class="form-label my-1">Select pet type</label>-->
        <!--                                <select id="editPetType" name="petType" th:field="*{type}" class="col-12 form-select my-1">-->
        <!--                                    <option disabled selected hidden style="display: none" value=""></option>-->
        <!--                                    <option th:each="type: ${petTypes}"-->
        <!--                                            th:value="${type.getId()}"-->
        <!--                                            th:text="${type.getPetTypeName()}"-->
        <!--                                            th:data="${type}"></option>-->
        <!--                                </select>-->

        <!--                                <label for="editBreed" class="form-label my-1">Select pet breed</label>-->
        <!--                                <select id="editBreed" name="breed" th:field="*{breed}" class="col-12 form-select my-1">-->
        <!--                                    <option disabled selected hidden style="display: none" value=""></option>-->
        <!--                                    <option th:each="breed: ${breeds}"-->
        <!--                                            th:value="${breed.getBreedId()}"-->
        <!--                                            th:text="${breed.getBreedName()}"-->
        <!--                                            th:data="${breed}"></option>-->
        <!--                                </select>-->

        <!--                                <label for="editPetWeight" class="form-label my-1">Input pet weight</label>-->
        <!--                                <input type="number" class="form-control my-1" th:field="*{weight}" id="editPetWeight"-->
        <!--                                       placeholder="10">-->

        <!--                                <label for="editPetAge" class="form-label my-1">Input pet age</label>-->
        <!--                                <input type="number" class="form-control my-1" th:field="*{age}" id="editPetAge" placeholder="7">-->

        <!--                                <label for="editGender" class="form-label my-1">Select pet gender</label>-->
        <!--                                <select id="editGender" name="gender" th:field="*{gender}" class="col-12 form-select my-1">-->
        <!--                                    <option disabled selected hidden style="display: none" value=""></option>-->
        <!--                                    <option th:each="gender: ${genders}"-->
        <!--                                            th:value="${gender.name()}"-->
        <!--                                            th:text="${gender.name().toLowerCase()}"-->
        <!--                                            th:data="${gender}"></option>-->
        <!--                                </select>-->

        <!--                                <label for="editImage" class="form-label my-1">Input photo url</label>-->
        <!--                                <input type="text" class="form-control my-1" th:field="*{image}" id="editImage" placeholder="url">-->

        <!--                                <button type="submit" class="col-12 btn btn-outline-secondary mb-3">Save</button>-->
        <!--                            </form>-->
        <!--                        </div>-->
        <!--                        <div class="modal-footer">-->
        <!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
            pet
        </button>

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title fs-2" id="deleteModalLabel"
                            th:text="'You are going to delete pet ' + ${currentPet.getName()}"></h4>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form th:action="@{/pets/delete}" th:object="${currentPet}" method="post">
                            <button type="submit" class="btn btn-outline-danger me-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{jsImport}"></div>
</body>
</html>